<!-- <html>
<body> -->
  <!-- <div class="row">
    <div class="col-12"> -->
  <div class="card w-75 text-center">
      <h5 class="card-title">{{ name }}</h5>
      <h5 class="card-subtitle">{{ role }}</h5>
      <p style="font-size:100px">&#129327;</p>
      <i class="fa fa-home"></i>
      <ul class="card-text text-left">
          <li>id: {{ id }}</li>
          <li>email: {{ email }}</li>
          <li>school: {{ school }}</li>
      </ul>
    </div>
  <!-- </div>
  </div> -->
<!-- </body>
</html> -->