<!-- <html> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body> -->
  <!-- <div class="row">
    <div class="col-12"> -->
  <div class="card w-75 text-center">
    <h5 class="card-title">{{ name }}</h5>
    <h5 class="card-subtitle">{{ role }}</h5>
    <p style="font-size:100px">&#129312;</p>
    <!-- <i class="fa fa-home"></i> -->
    <ul class="card-text text-left">
        <li>id: {{ id }}</li>
        <li>email: {{ email }}</li>
        <li>office number: {{ officeNumber }}</li>
    </ul>
</div>
    <!-- </div>
    </div> -->
<!-- </body>
</html> -->
